$blue: white;
$margin: 0 auto;
$block-width:80%;
$full-block:100%;
$backgr-color:blue;
@mixin rounded-corners($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
#gradient{
  background-color: white;
  width:$full-block;
  height: $full-block;
  padding:0;
  margin: 0;
}
.top-menu{
  width:80%;
  margin: $margin;
  ul{
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      color: $blue;
    }
  }
}
.block{
  width: $block-width;
  height: 50px;
  margin: $margin;
   div{
      float: left;
      width: $full-block/4-3;
      height: 50px;
      background-color:darken(cornflowerblue,5%);
      border-right: 1px solid white;
     @include rounded-corners(10px);
     margin-right: 2%;
  }
}
.clear{
  clear: both;
}